/* ===========================
   NAVBAR
=========================== */

.navbar{

    position:fixed;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    width:92%;

    max-width:1400px;

    height:82px;

    background:rgba(255, 255, 255, 0.85);

    backdrop-filter:blur(18px);

    border-radius:18px;

    padding:0 35px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    box-sizing:border-box;

    box-shadow:0 10px 35px rgba(0,0,0,.08);

    z-index:999;
}

/* ===========================
      LOGO
=========================== */

.logo{

    width:180px;

    display:block;
}

/* ===========================
      LINKS
=========================== */

.nav-links{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:50px;

    list-style:none;

    margin:0;

    padding:0;

    flex:1;
}

.nav-links li{

    list-style:none;
}

.nav-links a{

    color:#222;

    text-decoration:none;

    font-size:18px;

    font-weight:500;

    transition:.3s;
}

.nav-links a:hover{

    color:#D4AF37;
}

/* ===========================
      BUTTON
=========================== */

.login-link{

    text-decoration:none;
}

.login-btn{

    display:flex;

    align-items:center;

    gap:10px;

    padding:14px 24px;

    border-radius:40px;

    border:2px solid #D4AF37;

    background:rgb(0, 0, 0);

    color:#D4AF37;

    cursor:pointer;

    font-size:16px;

    font-weight:500;

    transition:.3s;
}

.login-btn:hover{

    background:#D4AF37;

    color:white;
}

/* ===========================
      MOBILE
=========================== */

.menu-btn{

    display:none;

    background:none;

    border:none;

    font-size:26px;

    cursor:pointer;
}

@media(max-width:900px){

.nav-links{

    position:absolute;

    top:90px;

    left:0;

    width:100%;

    background:white;

    display:none;

    flex-direction:column;

    padding:30px 0;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.nav-links.active{

    display:flex;
}

.login-btn{

    display:none;
}

.menu-btn{

    display:block;
}

.logo{

    width:150px;
}

}